# Custom values for kube-prometheus-stack
grafana:
  adminPassword: "1"
  service:
    type: NodePort

prometheus:
  prometheusSpec:
    # Essential for Minikube to find your custom ServiceMonitors
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi