apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: minikube-db
  namespace: default
spec:
  instances: 2
  imageName: ghcr.io/cloudnative-pg/postgresql:16

  # --- Add this section ---
  monitoring:
    enablePodMonitor: true
  storage:
    size: 500Mi
  resources:
    requests:
      cpu: 100m
      memory: 200Mi
    limits:
      cpu: 500m
      memory: 500Mi
  bootstrap:
    initdb:
      database: test_db
      owner: test_user